:root{
    --primary-color:#17202A;
    --secondary-color:#D35400;
    --tertiary-color:#27AE60;
    --quaternary-color:#ebebeb;
    --dark-color:#000;
    --dark-color_transp:#000000b7;
    --light-color:#fff;
    --primary-font_color:#17202A;
    --secondary-font_color:#D35400;
    --tertiary-font_color:#27AE60;
    --dark-font_color:#000;
    --light-font_color:#fff;
    --transition: .5s;
    --padding:1rem;
    --margin:1rem;
    --gap:1rem;
    --spacing-size:1rem;
    --font-size:1rem;
    --font-family:'Montserrat', sans-serif;;
    --border:1rem;
    --border-radius:1rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
}

.disable-pc{
    display: none;
}

@media(width<=1250px){
    .disable-movil{
        display: none;
    }
    .activate-movil{
        display: block;
    }
}
