
main{
    padding: 50px 0px;
}

.container-reservation{
    & .conta-reservation{
        max-width: 1250px;
        margin: auto;
        display: flex;
        gap: 20px;
        & .container-formulario{
            background-color: var(--tertiary-color);
        }
    }
}
