
main{
    padding: calc(var(--padding) * 3.125) 0;
    display: grid;
    gap: calc(var(--gap) * 8.75);
}

.container_reservation{
    & .conta_reservation{
        max-width: 1250px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & form{
            padding: calc(var(--padding) * 5) calc(var(--padding) * 3.125);
            width: 500px;
            background-color: var(--tertiary-color);
            display: grid;
            gap: calc(var(--gap) * 1.25);
            & input,select,option{
                border: 0;
                padding: calc(var(--padding) / 1.6);
                font-family: inherit;
                font-weight: bolder;
                outline: none;
            }
            & input[type="submit"]{
                background-color: var(--dark-color);
                color: var(--light-font_color);
                cursor: pointer;
                transition: var(--transition);
                padding: calc(var(--padding) * 1.25) 0;
                &:hover{
                    background-color: var(--primary-color);
                }
            }
        }

        & .info_reservation{
            width: 700px;
            display: grid;
            place-content: center;
            gap: calc(var(--gap) * 1.25);
            & h4{
                color: var(--tertiary-font_color);
                font-size: calc(var(--font-size) * 1.25);
            }
            & h2{
                font-size: calc(var(--font-size) * 2.5);
                & span{
                    color: var(--secondary-font_color);
                }
            }
            & .conta_services{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: calc(var(--gap) * 1.25);
                & .service{
                    width: 300px;
                    display: grid;
                    gap: var(--gap);
                    line-height: calc(var(--spacing-size) * 1.5);
                    & .service_title{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: calc(var(--gap) / 1.6);
                        & .icon_service{
                            color: var(--secondary-font_color);
                            font-size: calc(var(--font-size) * 2.25);
                        }
                    }
                }
            }
        }
    }
}

.container_AboutUs{
    background-color: var(--quaternary-color);
    padding: calc(var(--padding) * 2.5) 0;
    & .conta_AboutUs{
        max-width: 1250px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & .conten_AboutUs{
            width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: calc(var(--gap) * 1.25);
            & h4{
                color: var(--tertiary-font_color);
                font-size: calc(var(--font-size) * 1.25);
            }
            & h2{
                font-size: calc(var(--font-size) * 2.5);
            }
            & p,span{
                line-height: calc(var(--spacing-size) * 1.5);
            }
            & ul{
                text-align: left;
                line-height: calc(var(--spacing-size) * 1.75);
                & li{
                    padding: 0 calc(var(--padding) / 4);
                    &::marker{
                        content: "✔️";
                    }
                }
            }
            & a{
                text-decoration: none;
                text-align: center;
                color: var(--light-font_color);
                background-color: var(--secondary-color);
                width: 200px;
                padding: calc(var(--padding) / 1.6);
                border-radius: var(--border-radius);
            }
        }
        & .img_About{
            display: grid;
            place-content: center;
            width: 500px;
            & .img_col{
                & img{
                    width: 100%;
                }
            }
            & .img_row{
                display: flex;
                width: 250px;
                & img{
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

.container_functions{
    max-width: 1250px;
    margin: auto;
    & .conta_functions{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: calc(var(--gap) * 1.25);
        & h4{
            width: 100%;
            text-align: center;
            color: var(--tertiary-font_color);
            font-size: calc(var(--font-size) * 1.25);
        }
        & h2{
            width: 100%;
            text-align: center;
            color: var(--secondary-font_color);
            font-size: calc(var(--font-size) * 2.5);
        }
        & .function{
            background-color: var(--quaternary-color);
            width: 350px;
            display: grid;
            gap: calc(var(--gap) * 1.25);
            text-align: center;
            padding: calc(var(--padding) * 2.5);
            @media(width<=1090px){
                width: 450px;
            }
            @media(width<=920px){
                width: 80%;
            }
            & .icon_function{
                font-size: calc(var(--font-size) * 3.125);
                color: var(--tertiary-font_color);
            }
            & h3{
                font-size: calc(var(--font-size) * 1.5);
            }
            & p{
                font-size: calc(var(--font-size) * 0.94);
                line-height: calc(var(--spacing-size) * 1.5);
            }
            & a{
                text-decoration: none;
                color: var(--secondary-font_color);
                font-weight: bold;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media(width<=1250px){

    .container_reservation{
        & .conta_reservation{
            justify-content: space-around;
            & form{
                width: 400px;
            }
            & .info_reservation{
                width: 600px;
                & .conta_services{
                    width: 100%;
                    justify-content: space-around;
                    & .service{
                        width: 200px;
                    }
                }
            }
        }
    }

    .container_AboutUs{
        & .conta_AboutUs{
            justify-content: space-around;
            & .conten_AboutUs{
                width: 500px;
            }
            & .img_About{
                width: 400px;
                & .img_row{
                    width: 200px;
                }
            }
        }
    }
}


@media(width<=1030px){

    .container_reservation{
        & .conta_reservation{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: calc(var(--gap) * 3.25);
            & .info_reservation{
                width: 100%;
                text-align: center;
                & .conta_services{
                    justify-content: center;
                    & .service{
                        width: 360px;
                    }
                }
            }
            & form{
                width: 70%;
            }
        }
    }

    .container_AboutUs{
        & .conta_AboutUs{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--gap) * 3.25);
            & .conten_AboutUs{
                text-align: center;
                width: 70%;
            }
            & .img_About{
                width: 90%;
                & .img_row{
                    width: 100%;
                    & img{
                        width: 50%;
                    }
                }
            }
        }
    }
}